.add-user {
  height: 200px;
  padding: 10px;
  border: 1px solid orange;
  margin: 10px;
  overflow: auto;
}

.add-user-btn {
  background: skyblue;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.add-user-btn:hover {
  color: white;
  background: blue;
}

.add-user input {
  padding: 10px 30px;
  margin-bottom: 20px;
}
.list {
  display: flex;
  align-items: center;
  width: 250px;
  justify-content: space-between;
  background-color: aqua;
  color: black;
  padding: 5px;
  margin-bottom: 10px;
}
